<!doctype html>

<html>
<head>

	<title>My Hangouts</title>  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/poll.css">
	
	<input type="hidden" id="user_name" value="{{user.name}}"/>
    <input type="hidden" id="poll_id" value="{{pollInfo.id}}"/>
        
</head>

<body>

	<p>Hello World!</p>
	

</body>
</html>
