<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/trip.css" rel="stylesheet">


  </head>
  <body>
    <div class="header">
      <h1 class="title">Hong Kong + Taiwan 2016</h1>
    </div>
    <div class="itinerary">
      <div class="date">
        <h2>Friday Feb 19</h2>
      </div>

      <div class="row">
        <div class="time"><h2>12:05 AM</h2></div>
        <div class="item">EVA FLIGHT </div>
      </div>

      <div class="row">
        <div class="time"><h2>12:05 AM</h2></div>
        <div class="item">EVA FLIGHT </div>
      </div>

      <div class="row">
        <div class="time"><h2>12:05 AM</h2></div>
        <div class="item">EVA FLIGHT </div>
      </div>

      <div class="row">
        <div class="time"><h2>12:05 AM</h2></div>
        <div class="item">EVA FLIGHT </div>
      </div>

    </div>
  </body>
</html>
