<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/trip.css" rel="stylesheet">
  </head>
  <body>
    <h1>Hong Kong + Taiwan 2016</h1>
  </body>
</html>
