
/* custom fonts */
@font-face { font-family: 'Fugaz One'; src: url('/fonts/fugaz-one.ttf'); }
@font-face { font-family: 'Mont-Reg'; src: url('/fonts/Montserrat-Regular.otf'); }
@font-face { font-family: 'Mont-Semi'; src: url('/fonts/Montserrat-SemiBold.otf'); }
@font-face { font-family: 'Mont-Bold'; src: url('/fonts/Montserrat-Bold.otf'); }
@font-face { font-family: 'Roboto-Bold'; src: url('/fonts/RobotoSlab-Bold.ttf'); }

html, body {
  height: 100%;
  background-color: #222;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  text-align: center;
  overflow-x: hidden;
}

h1.title {
  color: #fff;
  font-family: 'Mont-Bold';
  font-size: 4em;
  margin: 0;
  width: 100%;
}

.header {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.itinerary {
  width: 100%;
  margin-top: 75px;
}

.date {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}

.date h2 {
  color: #fff;
  font-family: 'Mont-Semi';
  font-size: 3em;
  margin: 0;
  position: relative;
  left: 250px;
  /*position: relative;*/
  /*left: -15%;*/
}

.row {
  width: 100%;
  padding: 10px;
}

.time {
  width: 15%;
  height: 100%;
  border: 1px solid #fff;
  float: left;
  line-height: 200px;
  vertical-align: middle;
}

.time h2 {
  color: #fff;
  font-family: 'Mont-Semi';
  font-size: 2em;
  margin: 0;
}

.item {
  margin-left: 15%;
  height: 300px;
  border: 1px solid #fff;
}